html,body {
  height: 100vh;
  background-color: #FDFDFD;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
a:hover {
    cursor: pointer;
}
.page-item.active a {
    cursor:default;
}

code {
  color: #E01A76;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.instruction-list {
    list-style-position: outside;
    padding-left: 15px;
}

/*.instruction-list li {
    padding-left: 10px;
}*/

.p-6 {
  padding: 4rem;
}

.footer {
  /* background-color: #145DA0;
  background-color: #83746E;
  background-color: #D6DDE0;
  background-color: #D9E4EC;
  background-color: #E5E8E8; */
  background-color: #f3f3f3;
}